.ant-carousel .slick-dots li button {
	background-color: #f56a00 !important;
}

.package-card-container {
	width: 100%;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;

	.card-header {
		display: flex;
		justify-content: space-between;
		.card-header-title {
			width: 50%;
		}
	}

	.package-card-body {
		.body-top {
			display: flex;
			justify-content: space-between;

			.description {
				display: flex;
				flex-direction: column;
				width: 50%;
			}
		}
		.body-main {
			.hotel-details {
				display: flex;
				// flex-direction: column;
				justify-content: space-between;
				width: 100%;
				.left {
					display: flex;
					flex-direction: column;
					width: 50%;
				}
			}
			.plans {
				display: flex;
				flex-direction: column;
				.plan-body {
					display: flex;
					// flex-direction: column;
					justify-content: space-between;
					.left {
						display: flex;
						flex-direction: column;
						// flex-wrap: wrap;
						width: 50%;
					}
				}
			}
		}
	}
}

Image {
	border-radius: 10px;
}

.ant-form-item {
	margin-bottom: 0 !important;
}
