.titleContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		color: #fd5901;
	}
}

@media (max-width: 435px) {
	.titleContainer {
		width: 300px;
		h1 {
			font-family: poppins;
			font-size: 20px;
			font-weight: 600;
			color: #110803;
			line-height: 30px;
		}
	}
}
