.ant-carousel .slick-dots li button {
	background-color: #f56a00 !important;
}

.package-card-container {
	width: 100%;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;

	.card-header {
		display: flex;
		justify-content: space-between;
	}

	.package-card-body {
		.body-top {
			display: flex;
			justify-content: space-between;

			.description {
				display: flex;
				flex-direction: column;
			}
		}
		.body-main {
			.hotel-details {
				display: flex;
				// flex-direction: column;
				justify-content: space-between;

				.left {
					display: flex;
					flex-direction: column;
				}
			}
			.plans {
				display: flex;
				flex-direction: column;
				.plan-body {
					display: flex;
					// flex-direction: column;
					justify-content: space-between;
					.left {
						display: flex;
						flex-direction: column;
						// flex-wrap: wrap;
						width: 60%;
					}
				}
			}
		}
	}
}

Image{
	border-radius: 10px;
}