.calendar-container {
	font-family: "Poppins", sans-serif;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	max-width: 768px;
	background-color: white;
	// padding: 10px;
	z-index: 999;
	.header {
		display: flex;
		align-items: center;
		gap: 25px;
		margin-bottom: 10px;
		margin: 20px;

		.back-btn {
			font-size: x-large;
			align-items: center;
		}
		.title {
			font-size: x-large;
			font-weight: 600;
		}
	}
	.dates-container {
		display: flex;
		gap: 10px;
		justify-content: space-between;
		margin: 20px;
		.date {
			font-family: "Poppins", sans-serif;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 5px;
			font-weight: 600;
			border: none;
			color: white;
			padding: 8px;
			border-radius: 10px;
			background-color: #aaa;
			.date-0 {
				font-size: 12px;
			}
		}
		.highlighted {
			background-color: #ff5722;
		}
	}
	.calendar {
		margin: 50px 20px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

		.calendar-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
			background-color: transparent;
			color: black;
			font-size: 12px;
			padding: 8px 10px;
			border-bottom: grey 1px solid;
		}
		.calendar-header > div {
			border: none;
			padding: 5px 10px;
			border-radius: 5px;
			cursor: pointer;
			background: transparent;
		}

		.calendar-grid {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			gap: 2px;
			padding: 15px 5px;
		}

		.calendar-day-header {
			text-align: center;
			font-weight: bold;
			font-size: 14px;
			/* background-color: #018577; */
			color: black;
			border-radius: 10px;
			padding: 5px 0px;
		}

		.calendar-day {
			text-align: center;
			padding: 5px;
			/* border: 1px solid #ddd; */
			font-size: 12px;
			border-radius: 20px;
			color: #000;
			cursor: pointer;
			margin-top: 10px;
			width: 20px;
			height: 20px;
		}

		.calendar-day:hover {
			background: #ff5722;
			color: #fff;
		}

		.disabled {
			color: #aaa;
			cursor: not-allowed;
		}
		.empty {
			background: transparent;
			border: none;
		}

		/* Highlight the current date */
		.today {
			background: #ff5722;
			color: #fff;
			// border: none;
			font-weight: bold;
		}

		.selected {
			background: #ff5722;
			font-weight: bold;
			color: #fff;
		}
	}
}
@media (max-width: 435px) {
	.calender-container {
		display: block;
	}
}
@media (min-width: 769px) {
	.calender-container {
		display: none;
	}
}
