/* src/Calendar.css */
.active-modal {
	overflow-y: hidden;
}
.overlay {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 999;
}
.overlay {
	background: rgba(41, 41, 41, 0.7);
}
.calendar-container {
	width: 90%;
	max-width: 300px;
	margin: auto;
	position: fixed;
	background-color: #f9f9f9;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border-radius: 10px; */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	background-color: #018577;
	color: #fff;
	padding: 2rem 10px;
}
.calendar-header > h2 {
	margin: 0;
}

.calendar-header > div {
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	background: transparent;
}

.calendar-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 5px;
	padding: 1rem 0.5rem;
}

.calendar-day-header {
	text-align: center;
	/* font-weight: bold; */
	/* background-color: #018577; */
	color: black;
	border-radius: 10px;
	padding: 5px 0px;
}

.calendar-day {
	text-align: center;
	padding: 7px;
	/* border: 1px solid #ddd; */
	font-size: 18px;
	border-radius: 25px;
	color: #000;
	cursor: pointer;
	margin-top: 10px;
}

.calendar-day:hover {
	background: #018577;
	color: #fff;
}

.disabled {
	color: #aaa;
	cursor: not-allowed;
}
.empty {
	background: transparent;
	border: none;
}

/* Highlight the current date */
.today {
	background: #018577;
	color: #fff;
	border: none;
	font-weight: bold;
}

.selected {
	background: #018577;
	font-weight: bold;
	color: #fff;
}